* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgb(61, 59, 59),rgb(11, 177, 94));
    background-repeat: no-repeat;
    width: 100%;
}